# Ignore node_modules folders in all subdirectories
node_modules/

# Ignore .env files (secret keys and database URLs)
.env
.env.*
*.env

# Ignore Vite/React cache and build folders
/frontend/dist
/frontend/.vite/

# Ignore general OS files
.DS_Store
Thumbs.db